:root {
  --home-bg-color: #000;
  --account-bg-color: #f3f3f3;
  --text-color: #fff;
  --primary-color: #e40a13;
  --secondary-color: #929292;
}

body {
  background: var(--home-bg-color);
}

#logo {
  height: 52px;
}

#avatar {
  height: 28px;

  margin-left: 10px;
}
.dropdown-menu {
  margin-left: -100px;
  background-color: var(--home-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.dropdown-item {
  color: grey;
}

.icon {
  margin: 4px 10px;
}

.movie-row {
  margin-top: 20px;
  margin-bottom: 50px;
}
.movie-cover {
  width: 90%;
  transition: 0.6s;
  opacity: 0.5;
}
.movie-cover:hover {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.05);
}

.carousel-control-next {
  margin-right: -5%;
}

.carousel-control-prev {
  margin-left: -5%;
}

.edit-icon {
  position: relative;
  left: 10%;
  top: -10%;
  background: black;
  padding: 10px;
  border-radius: 50%;
}

label {
  color: white;
}

footer .nav-link {
  color: grey;
}
footer .nav-link:hover {
  color: white;
}

.movie-row img {
  width: 100%;
  object-fit: cover;
}

.rainbow-box {
  top: 0;
  background-color: #000000;
  border: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  height: 100px;

  width: 100%;
}

.carousel-indicators li {
  visibility: hidden;
}

#page_header {
  color: white;
}

.card-body {
  background-color: black;
    color: white;
}